<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ISee - 登录</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="/static/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container-fluid imbg1">
    <img src="/static/image/login_bg.png" class="imbg">
</div>
<div class="row imlogo1">
    <div align="center">
        <a href="{{ url_for('main.index') }}"><img src="/static/image/login_logo.png" class="imlogo"></a>
    </div>
</div>
<form action="{{ url_for('.login') }}" method="POST">
    {{ form.csrf_token }}
    <div class="row inputl">
        <div align="center">
            {{ form.email(class="form-control inputl1", placeholder="邮箱") }}
        </div>
    </div>

    <div class="row inputl2">
        <div align="center">
            {{ form.password(class="form-control inputl1", placeholder="密码") }}
        </div>
    </div>
    <div class="row ck" align="center">
        <div  class="checkbox ck3">
            <label>{{ form.remember_me(class="ck2") }}记住我</label>
            <label class="ck1"><a href="#">忘记密码?</a></label>
        </div>
    </div>
    <div class="row btnl">
        <div align="center">
            {{ form.submit(class="btn btn-default btnl1",  style="font-family: 微软雅黑") }}
        </div>
    </div>
    <div class="row btnl2">
        <div align="center">
            <a href="{{ url_for('auth.register') }}"><button type="button" class="btn btn-default btnl3" style="font-family: 微软雅黑">注&nbsp;册</button></a>
        </div>
    </div>
</form>
</body>
</html>
