
.ccu{
    padding-left:30px;
    padding-right:30px;
}
.cu ul li{
    padding-top:20px;
    padding-bottom:20px;
    list-style:none;
    margin-top:40px;
    border:1px solid #78f4b8;
    box-shadow:3px 1px 15px 1px #78f4b8;
}
.cu ul li h3{
    color:#38d187;
    margin-top:0;
}
.cu ul li p{
    color: #2d2d2d;
    font-size:16px;
}
.cu ul li p:last-child{
    color: #aeaeae;
    font-size:16px;
}
.cu1{
    padding-left:0;
}
.btn1{
    background-color:#38d187;
    color:#fff;
    border:0;
}
.btn1:hover{
    background-color: #3de697;
    color:#fff;
}
.btn1:active{
    background-color:#38d187;
    color:#fff;

}
.btn1:focus{
    background-color:#38d187;
    color:#fff;
}