 <div class="row cb">
        <div class="panel-heading pbx1">
            <h3 style="font-family: 微软雅黑">&clubs;&nbsp;评论&nbsp;&clubs;</h3>
        </div>
        <div class="panel-body pbx1">
            <div class="row imlo">
                <div class="col-md-2">
                    <a href="login.html"><img src="image/unlogin.png" imj1></a>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control ip" placeholder="在这里说两句吧...">
                    <hr>
                    <button type="button" class="btn btn-default disabled">登录提交评论</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3 dica">
                    <a href="#"><h3 style="font-family: 微软雅黑" class="hhh">所有评论
                        <span class="badge bd">0</span></h3></a>
                </div>
            </div>
            <div class="row pz1">
                <ul>
                    <li class="row">
                        <div class="col-md-1 col-sm-1 col-xs-1">
                            <img src="/static/image/ll.png" style="width:100%">
                        </div>
                        <div class="col-md-11 col-sm-11 col-xs-11 pz">
                            <a href="#"><p style="font-family: 微软雅黑">评论者名字</p></a>
                            <p style="font-family:微软雅黑">评论内容</p>
                        </div>
                    </li>
                    <hr>
                    <li class="row">
                        <div class="col-md-1 col-sm-1 col-xs-1">
                            <img src="/static/image/ll.png" style="width:100%">
                        </div>
                        <div class="col-md-11 col-sm-11 col-xs-11 pz">
                            <a href="#"><p style="font-family: 微软雅黑">评论者名字</p></a>
                            <p style="font-family:微软雅黑">评论内容</p>
                        </div>
                    </li>
                    <hr>
                </ul>
            </div>
        </div>
 </div>