<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="toTop" content="true">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/image/isee.png" />
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript" src="/static/js2/toTop.js"></script>
    <script src="/static/js/mine.js"></script>
    <script src="/static/js1/jq22.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <title>
        爱视_爱自生活，爱视分享
    </title>
</head>
<body>
<div class="container-fluid iii">
    <img src="/static/image/3.png" class="ii">
</div>
<nav class="container-fluid navbar navbar-fixed-top"  style="background-color:rgba(56,209,135,.55)">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="icon-bar" style="background-color:#fff"></span>
                        <span class="icon-bar" style="background-color:#fff"></span>
                        <span class="icon-bar" style="background-color:#fff"></span>
                    </button>
                    <a href="#" class="navbar-brand iml1"  >
                        <img class="img-responsive iml" alt="Brand" src="/static/image/logo.png">
                    </a>
                    <a href="#" class="navbar-brand title1"  style="font-family: 幼圆" >
                        <div>爱视</div>
                        <p style="font-family:'Comic Sans MS'">Isee</p>
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav na1">
                        <li><a href="{{ url_for('main.index') }}" style="color:#fff;font-family:幼圆;">首页</a></li>
                        <li><a href="#" style="color:#fff;font-family:幼圆;">分享</a></li>
                        <li><a href="#" style="color:#fff;font-family:幼圆;">关于</a></li>
                    </ul>
                    <ul class="nav  navbar-nav navbar-right na2">
                        <li><a href="{{ url_for('auth.login') }}" target="_blank" style="color: #fff;font-family:幼圆">登录</a></li>
                        <li><a href="{{ url_for('auth.register') }}" target="_blank" style="color: #fff;font-famlily:幼圆">注册</a></li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control has-success search1" placeholder="search">
                        </div>
                    </form>
                </div>
            </div>
        </nav>
<nav class="navbar nav-tabs nav-justified na" >
    <div class="container nna">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed btn1" data-toggle="collapse"
                    data-target="#navbar1" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar" style="background-color:#38d187"></span>
                <span class="icon-bar" style="background-color:#38d187"></span>
                <span class="icon-bar" style="background-color:#38d187"></span>
            </button>
            <div class="navbar-collapse collapse na3" id="navbar1">
                <ul class="nav navbar-nav nb">
                    <li><a href="{{ url_for('main.index') }}" style="font-family:幼圆">首页</a></li>
                    <li><a href="GDMU.html" style="font-family:幼圆">今日广医</a></li>
                    <li><a href="#" style="font-family:幼圆">生活娱乐</a></li>
                    <li><a href="movie.html" style="font-family:幼圆">电影</a></li>
                    <li><a href="tv.html" style="font-family:幼圆">电视剧</a></li>
                    <li><a href="anime.html" style="font-family:幼圆">动画</a></li>
                    <li><a href="music.html" style="font-family:幼圆">音乐</a></li>
                    <li><a href="science.html" style="font-family:幼圆">科技</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="container content">
        <div class="row htitle mrow">
            <div class="col-md-6 col-xs-12 col-sm-12 htitle1 "style="font-family: 微软雅黑">
                <a href="#"><img src="{{ recommands[0].image_url }}" class="im1 img-responsive" title="<{{ recommands[0].category }}>{{ recommands[0].title }}"></a>
                <a href="#" class="txt">
                    <h3 class="txt1 bt" >&lt{{ recommands[0].category }}&gt{{ recommands[0].title }}</h3>
                </a>
            </div>
            <div class="clearfix visible-xs-block visible-sm-block kg"></div>
            <div class="col-md-6 col-sm-12" style="font-family: 微软雅黑; padding:0;">
                    {% for time in range(1, 5) %}
                        <div class="col-md-6  col-sm-6 col-xs-6">
                            <a href="{{ recommands[time].play_page_url() }}"><img src="{{ recommands[time].image_url }}" class="im1 img-responsive" title="<{{ recommands[time].category }}>{{ recommands[time].title }}"></a>
                            <a href="{{ recommands[time].play_page_url() }}" class="txt"><h5 class="txt1 bt1">&lt{{ recommands[time].category }}&gt{{ recommands[time].title }}</h5></a>
                        </div>
                    {% endfor %}

            </div>
        </div>
        <div class="row  imt">
            <div class="col-md-3 col-sm-6 col-xs-6 ad">
                <a href="#"><h3 style="font-family:幼圆">今日热门</h3></a>
            </div>
            <div class="col-md-9 col-sm-6 col-xs-6 ad">
                <h4 style="font-family: 幼圆"># 大家都爱看 #</h4>
            </div>
        </div>
        <div class="row mrow mrow1" >

            {% for time in range(5, 9) %}
                <div class="col-md-3 col-sm-6 col-xs-6 section kg1" >
                <a href="{{ recommands[time].play_page_url() }}"><img src="{{ recommands[time].image_url }}" class="img-responsive im5"></a>
                <div class="yc">
                    <a href="{{ recommands[time].play_page_url() }}"><div  class="rsp"><div class="rsp1"></div></div></a>
                    <div class="ttext">
                     <h4 style="font-family:微软雅黑">{{ recommands[time].title }}</h4>
                        <p style="font-family:微软雅黑">{{ recommands[time].introduction }}</p>
                    </div>
                    <a href="{{ recommands[time].play_page_url() }}"><button type="button" class="btn-success btn-xs text">立即播放
                    </button></a>
                </div>
            </div>
            {% endfor %}


    </div>
        <div class="row imt">
            <div class="col-md-3 col-sm-6 col-xs-6 ad">
                <a href="#"><h3 style="font-family:幼圆">广医推荐</h3></a>
            </div>
            <div class="col-md-9 col-sm-6 col-xs-6 ad">
                <h4 style="font-family: 幼圆"># 迎着日出看广医 #</h4>
            </div>
        </div>
        <div class="row mrow1" style="font-family: 微软雅黑">

            {% for time in range(0, 8) %}
                <div class="col-md-3 col-xs-6 td1">
                <a href="{{ gdmus[time].play_page_url() }}"><img src="{{ gdmus[time].image_url }}" class="im10 img-responsive"></a>
                <h5 >{{ gdmus[time].title }}</h5>
            </div>
            {% endfor %}
        </div>

        <div class="row imt">
            <div class="col-md-3 col-sm-6 col-xs-6 ad">
                <a href="#"><h3 style="font-family:幼圆">生活娱乐</h3></a>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12 ad">
                <h4 style="font-family: 幼圆"># 一样的生活，不一样的欢乐 #</h4>
            </div>
        </div>
        <div class="row mrow">
            <div class="col-md-6 col-sm-12 section1">
                <a href="{{ lifes[0].play_page_url() }}"><img src="{{ lifes[0].image_url }}" class="im1 img-responsive"></a>
                <div class="yc">
                    <a href="{{ lifes[0].play_page_url() }}"><div class="rrsp"><div class="rrsp1"></div></div></a>
                    <div class="ttext1">
                        <h3 style="font-family: 微软雅黑">{{ lifes[0].title }}</h3>
                        <p style="font-family: 微软雅黑">{{ lifes[0].introduction }}</p>
                    </div>
                    <a href="#"><button type="button" class="btn-success btn-sm text">立即播放</button></a>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 " style="padding:0">

                    {% for time in range(1, 5) %}
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 section2">
                        <a href="{{ lifes[time].play_page_url() }}"><img src="{{ lifes[time].image_url }}" class="im1 img-responsive"></a>
                        <div class="yc">
                            <a href="{{ lifes[time].play_page_url() }}"><div  class="rsp"><div class="rsp1"></div></div></a>
                            <div class="ttext">
                                <h5 style="font-family: 微软雅黑">{{ lifes[time].title }}</h5>
                                <p style="font-family: 微软雅黑">{{ lifes[time].introduction }}</p>
                            </div>
                            <a href="{{ lifes[time].play_page_url() }}"><button type="button" class="btn-success btn-xs text">立即播放</button></a>
                        </div>
                        </div>
                    {% endfor %}

            </div>
            <div class="clearfix visible-xs-block visible-sm-block kg"></div>
            <div class="col-md-12 kg" style="padding:0;">

                {% for time in range(5, 9) %}
                    <div class="col-md-3 col-xs-6 section6 kg1">
                    <img src="{{ lifes[time].image_url }}" class="im11 img-responsive">
                    <div class="yc">
                        <a href="{{ lifes[time].play_page_url() }}"><div  class="rsp"><div class="rsp1"></div></div></a>
                        <div class="ttext">
                            <h4 style="font-family: 微软雅黑">{{ lifes[time].title }}</h4>
                            <p style="font-family: 微软雅黑">{{ lifes[time].introduction }}</p>
                        </div>
                        <a href="{{ lifes[time].play_page_url() }}"><button type="button" class="btn-success btn-xs text">立即播放</button></a>
                    </div>
                    </div>
                {% endfor %}

            </div>
        </div>

        <div class="row imt">
            <div class="col-md-3 col-sm-6 col-xs-6 ad">
                <a href="#"><h3 style="font-family:幼圆">科技</h3></a>
            </div>
            <div class="col-md-9 col-sm-6 col-xs-6 ad">
                <h4 style="font-family: 幼圆"># 改变世界，改变自己 #</h4>
            </div>
        </div>
        <div class="row mrow" style="font-family: 微软雅黑">
            <div class="col-md-3 col-xs-12" style="padding:0">

                {% for time in range(0, 2) %}
                    <div class="col-md-12">
                    <a href="{{ technologys[time].play_page_url() }}" class="imh">
                        <img src="{{ technologys[time].image_url }}" class="im1 img-responsive">
                    </a>
                </div>
                {% endfor %}

            </div>
            <div class="col-md-6 col-xs-12">
                <a href="{{ technologys[2].play_page_url() }}"><img src="{{ technologys[2].image_url }}" class="im1 img-responsive"></a>
            </div>
            <div class="col-md-3 col-xs-12" style="padding:0">

                {% for time in range(3, 5) %}
                    <div class="col-md-12">
                    <a href="{{ technologys[time].play_page_url() }}" class="imh">
                        <img src="{{ technologys[time].image_url }}" class="im1 img-responsive">
                    </a>
                    </div>
                {% endfor %}

            </div>
        </div>
        <div class="row imt">
            <div class="col-md-3 col-sm-6 col-xs-6 ad">
                <a href="#"><h3 style="font-family:幼圆">动漫</h3></a>
            </div>
            <div class="col-md-9 col-sm-6 col-xs-6 ad">
                <h4 style="font-family: 幼圆"># 放弃治疗中二病 #</h4>
            </div>
        </div>
        <div class="row mrow" style="font-family: 微软雅黑">
            <div class="col-md-6 col-sm-12 htitle">
                <a href="{{ animations[0].play_page_url() }}"><img src="{{ animations[0].image_url }}" class="im im1 img-responsive"></a>
                <a href="{{ animations[0].play_page_url() }}" class="txt">
                    <h3 class="txt1 bt" style="font-family: 幼圆">&lt{{ animations[0].title }}&gt</h3>
                </a>
            </div>
            <div class="clearfix visible-xs-block visible-sm-block kg"></div>

            <div class="col-md-6 col-sm-12" style="font-family: 微软雅黑; padding:0;">
                    {% for time in range(1, 5) %}
                        <div class="col-md-6  col-sm-6 col-xs-6">
                            <a href="{{ animations[time].play_page_url() }}"><img src="{{ animations[time].image_url }}" class="im1 img-responsive"></a>
                        <a href="{{ animations[time].play_page_url() }}" class="txt"><h5 class="txt1 bt1">&lt{{ animations[time].title }}&gt</h5></a>
                        </div>
                    {% endfor %}

            </div>

        </div>
        <div class="row imt">
            <div class="col-md-3 col-sm-6 col-xs-6 ad">
                <a href="music.html"><h3 style="font-family:幼圆">音乐</h3></a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 ad">
                <h4 style="font-family: 幼圆"># 聆听世话 #</h4>
            </div>
        </div>
            <div class="row mrow mrow1" style="font-family: 微软雅黑">

                {% for time in range(0, 4) %}
                    <div class="col-md-3 col-xs-6 td">
                    <a href="{{ musics[time].play_page_url() }}"><img src="{{ musics[time].image_url }}" class="im11 img-responsive"></a>
                    <a href="{{ musics[time].play_page_url() }}" class="txt"><h5 class="txt2">{{ musics[time].title }}</h5></a>
                    </div>
                {% endfor %}

            </div>

        <div class="row imt">
            <div class="col-md-3 col-sm-6 col-xs-6 ad">
                <a href="#"><h3 style="font-family:幼圆">电影</h3></a>
            </div>
            <div class="col-md-9 col-sm-6 col-xs-6 ad">
                <h4 style="font-family: 幼圆"># 帧帧精美，丝丝入画 #</h4>
            </div>
        </div>
        <div class="row mrow mrow1" style="font-family: 微软雅黑">

            {% for time in range(0, 6) %}
                <div class="col-md-2 col-sm-2 col-xs-6 sp1">
                <a href="{{ movies[time].play_page_url() }}"><img title="{{ movies[time].title }}" src="{{ movies[time].cover_image_url }}" class="im11 img-responsive"></a>
                <div class="sp">
                    <img class="img-responsive is" src="/static/image/span1.png">
                    <p class="is1">电影</p>
                    <h5>{{ movies[time].title }}</h5>
                    <p>{{ movies[time].introduction }}</p>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="row imt ">
            <div class="col-md-3 col-sm-6 col-xs-6 ad">
                <a href="#"><h3 style="font-family:幼圆">电视剧</h3></a>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 ad">
                <h4 style="font-family: 幼圆"># 都是套路 #</h4>
            </div>
        </div>
        <div class="product-wrap mrow1">
            <div class="row product shows" style="font-family: 微软雅黑">

                {% for time in range(0, 4) %}
                    <div class="col-md-3 col-xs-6 htitle kg1">
                    <a href="{{ tvs[time].play_page_url() }}" class="imgwrap"><img src="{{ tvs[time].image_url }}" class="im11 img-responsive"></a>
                    <a href="{{ tvs[time].play_page_url() }}" class="txt"><h5 class="txt1 bt1">&lt{{ tvs[time].title }}&gt</h5></a>
                    </div>
                {% endfor %}

            </div>

        </div>
    </div>
</div>


<footer class="container-fluid modal-footer ffoot">
    <div class="container flinks">
        <a href="#" style="font-family: 幼圆;">About us</a>
        <a href="#" style="font-family: 幼圆;">Contact us</a>
        <a  href="#" style="font-family: 幼圆;">友情链接:GDMU摄影协会官方微博</a>
    </div>
    <div class="container ff">
        Copyright&copy;LWLXL
    </div>
</footer>



</body>
</html>
