<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="toTop" content="true">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/image/isee.png" />
    <script src="/static/js2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js2/toTop.js"></script>
    <script src="/static/js/jquery.1.4.2-min.js"></script>
    <script src="/static/js/mine.js"></script>
    <script src="/static/js1/jquery.min.js"></script>
    <script src="/static/js1/jq22.js"></script>
    <script src="/static/js/jquery-2.2.0.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <title>
        爱视_爱自生活，爱视分享
    </title>
</head>
<body>
<div class="container-fluid iii">
    <img src="/static/image/3.png" class="ii">
</div>
<nav class="container-fluid navbar navbar-fixed-top"  style="background-color:rgba(56,209,135,.55)">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="icon-bar" style="background-color:#fff"></span>
                        <span class="icon-bar" style="background-color:#fff"></span>
                        <span class="icon-bar" style="background-color:#fff"></span>
                    </button>
                    <a href="#" class="navbar-brand iml1"  >
                        <img class="iml" alt="Brand" src="/static/image/logo.png">
                    </a>
                    <a href="#" class="navbar-brand title1"  style="font-family: 幼圆" >
                        <div>爱视</div>
                        <p style="font-family:'Comic Sans MS'">Isee</p>
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav na1">
                        <li><a href="{{ url_for('main.index') }}" style="color:#fff;font-family:幼圆;">首页</a></li>
                        <li><a href="#" style="color:#fff;font-family:幼圆;">分享</a></li>
                        <li><a href="#" style="color:#fff;font-family:幼圆;">关于</a></li>
                    </ul>
                    <ul class="nav  navbar-nav navbar-right na2">
                        {% if current_user.is_authenticated %}
                          <li><a target="_blank" style="color: #fff;font-family:幼圆">{{ current_user.username }}</a></li>
                        {% else %}
                          <li><a href="{{ url_for('auth.login')}}" target="_blank" style="color: #fff;font-family:幼圆">登录</a></li>
                          <li><a href="{{ url_for('auth.register') }}" target="_blank" style="color: #fff;font-famlily:幼圆">注册</a></li>
                        {% endif %}
                    </ul>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control has-success search1" placeholder="search">
                        </div>
                    </form>
                </div>
            </div>
        </nav>
<nav class="navbar nav-tabs nav-justified na" >
    <div class="container nna">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed btn1" data-toggle="collapse"
                    data-target="#navbar1" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar" style="background-color:#38d187"></span>
                <span class="icon-bar" style="background-color:#38d187"></span>
                <span class="icon-bar" style="background-color:#38d187"></span>
            </button>
            <div class="navbar-collapse collapse na3" id="navbar1">
                <ul class="nav navbar-nav nb">
                    <li><a href="index.html" style="font-family:幼圆">首页</a></li>
                    <li><a href="GDMU.html" style="font-family:幼圆">今日广医</a></li>
                    <li><a href="#" style="font-family:幼圆">生活娱乐</a></li>
                    <li><a href="movie.html" style="font-family:幼圆">电影</a></li>
                    <li><a href="tv.html" style="font-family:幼圆">电视剧</a></li>
                    <li><a href="anime.html" style="font-family:幼圆">动画</a></li>
                    <li><a href="music.html" style="font-family:幼圆">音乐</a></li>
                    <li><a href="science.html" style="font-family:幼圆">科技</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="container content">
        <div class="row htitle mrow">
            <div class="col-md-6 col-xs-12 col-sm-12 htitle1 "style="font-family: 微软雅黑">
                <a href="#"><img src="{{ recommands[0].image_url }}" class="im" title="<{{ recommands[0].category }}>{{ recommands[0].title }}"></a>
                <a href="#" class="txt">
                    <h3 class="txt1 bt" >&lt{{ recommands[0].category }}&gt{{ recommands[0].title }}</h3>
                </a>
            </div>
            <div class="clearfix visible-xs-block visible-sm-block">&nbsp</div>
            <div class="col-md-6 col-sm-12" style="font-family: 微软雅黑">
                <div class="row">
                    <div class="col-md-6  col-sm-6 col-xs-6">
                        <a href="#"><img src="/static/image/t_3.jpg" class="im1" title="<生活>抹茶不间断"></a>
                        <a href="#" class="txt"><h5 class="txt1 bt1">&lt抹茶不间断&gt</h5></a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <a href="#"><img src="/static/image/t_4.jpg" class="im2" title="<生活>舌尖上的味道"></a>
                        <a href="#" class="txt"><h5 class="txt1 bt1">&lt生活&gt舌尖上的味道</h5></a>
                    </div>
                </div>
                <div>&nbsp</div>
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <a href="#"><img src="/static/image/t_2.jpg" class="im1" title="<娱乐>你好朋友"></a>
                        <a href="#" class="txt"><h5 class="txt1 bt1">&lt娱乐&gt你好朋友</h5></a>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <a href="#"><img src="/static/image/t_5.jpg" class="im2" title="<时尚>春季新推荐"></a>
                        <a href="#" class="txt"><h5 class="txt1 bt1">&lt时尚&gt春季新推荐</h5></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  imt">
            <div class="col-md-3 col-sm-6 col-xs-6 ad">
                <a href="#"><h3 style="font-family:幼圆">今日热门</h3></a>
            </div>
            <div class="col-md-9 col-sm-6 col-xs-6 ad">
                <h4 style="font-family: 幼圆"># 大家都爱看 #</h4>
            </div>
        </div>
        <div class="row mrow mrow1" >
        <div class="col-md-3 col-sm-6 col-xs-6 section" >
            <a href="#"><img src="/static/image/h_1.jpg" class="im5"></a>
            <div class="yc">
                <a href="#"><div  class="rsp"><div class="rsp1"></div></div></a>
                <div class="ttext">
                    <h4 style="font-family:微软雅黑">女子天团疯狂来袭</h4>
                    <p style="font-family:微软雅黑">宇宙第一美少女</p>
                </div>
                <a href="#"><button type="button" class="btn-success btn-xs text">立即播放
                </button></a>
            </div>

        </div>
            <div class="col-md-3 col-sm-6 col-xs-6 section">
                <a href="#"><img src="/static/image/h_2.jpg" class="im5"></a>
                <div class="yc">
                    <a href="#"><div  class="rsp"><div class="rsp1"></div></div></a>
                    <div class="ttext">
                        <h4 style="font-family:微软雅黑">女子天团疯狂来袭</h4>
                        <p style="font-family:微软雅黑">宇宙第一美少女</p>
                    </div>
                    <a href="#"><button type="button" class="btn-success btn-xs text">立即播放
                    </button></a>
                </div>
            </div>
            <div class="clearfix visible-xs-block visible-sm-block">&nbsp</div>

            <div class="col-md-3 col-sm-6 col-xs-6 section">
                <a href="#"><img src="/static/image/h_3.jpg" class="im5"></a>
                <div class="yc">
                    <a href="#"><div  class="rsp"><div class="rsp1"></div></div></a>
                    <div class="ttext">
                        <h4 style="font-family:微软雅黑">女子天团疯狂来袭</h4>
                        <p style="font-family:微软雅黑">宇宙第一美少女</p>
                    </div>
                    <a href="#"><button type="button" class="btn-success btn-xs text">立即播放
                    </button></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 section">
                <a href="#"><img src="/static/image/h_4.jpg" class="im5"></a>
                <div class="yc">
                    <a href="#"><div  class="rsp"><div class="rsp1"></div></div></a>
                    <div class="ttext">
                        <h4 style="font-family:微软雅黑">女子天团疯狂来袭</h4>
                        <p style="font-family:微软雅黑">宇宙第一美少女</p>
                    </div>
                    <a href="#"><button type="button" class="btn-success btn-xs text">立即播放
                    </button></a>
                </div>
            </div>
    </div>
        <div class="row imt">
            <div class="col-md-3 col-sm-6 col-xs-6 ad">
                <a href="#"><h3 style="font-family:幼圆">广医推荐</h3></a>
            </div>
            <div class="col-md-9 col-sm-6 col-xs-6 ad">
                <h4 style="font-family: 幼圆"># 迎着日出看广医 #</h4>
            </div>
        </div>
        <div class="row mrow1" style="font-family: 微软雅黑">
            <div class="col-md-3 col-xs-6 td1">
                <a href="#"><img src="/static/image/g_1.jpg" class="im10"></a>
               <h5 >春暖花开，情遗广医</h5>
            </div>
            <div class="col-md-3 col-xs-6 td1">
                <a href="#"><img src="/static/image/g_8.jpg" class="im10"></a>
                <h5>主持人大赛，尽显大牌风范</h5>
            </div>
            <div class="clearfix visible-xs-block visible-sm-block">&nbsp</div>
            <div class="col-md-3 col-xs-6 td1">
                <a href="#"><img src="/static/image/g_6.jpg" class="im10"></a>
                <h5 >演练消防灭火，保卫校园</h5>
            </div>
            <div class="col-md-3 col-xs-6 td1">
                <a href="#"><img src="/static/image/g_3.jpg" class="im10"></a>
               <h5 >更快，跟高，更远</h5>
            </div>
        </div>
        <div>&nbsp</div>
        <div class="row mrow" style="font-family: 微软雅黑">
            <div class="col-md-3 col-xs-6 td1">
                <a href="#"><img src="/static/image/g_2.jpg" class="im10"></a>
                <h5 >社联文艺展演-韵律协会</h5>
            </div>
            <div class="col-md-3 col-xs-6 td1">
                <a href="#"><img src="/static/image/g_7.jpg" class="im10"></a>
                <h5 >十佳青年教工访谈</h5>
            </div>
            <div class="clearfix visible-xs-block">&nbsp</div>
            <div class="col-md-3 col-xs-6 td1">
                <a href="#"><img src="/static/image/g_4.jpg" class="im10"></a>
                <h5 >十年社联-嘉年华现场</h5>
            </div>
            <div class="col-md-3 col-xs-6 td1">
                <a href="#"><img src="/static/image/g_5.jpg" class="im10"></a>
                <h5 >社联文艺展演-街舞队</h5>
            </div>
        </div>
        <div class="row imt">
            <div class="col-md-3 col-sm-6 col-xs-6 ad">
                <a href="#"><h3 style="font-family:幼圆">科技</h3></a>
            </div>
            <div class="col-md-9 col-sm-6 col-xs-6 ad">
                <h4 style="font-family: 幼圆"># 改变世界，改变自己 #</h4>
            </div>
        </div>
        <div class="row mrow mrow1" style="font-family: 微软雅黑">
            <div class="col-md-3 col-xs-12">
                <a href="#" class="imh">
                    <img src="/static/image/k_1.jpg" class="im10">
                </a>
                <div>&nbsp</div>
                <a href="#"><img src="/static/image/k_5.jpg" class="im10"></a>
            </div>
            <div class="clearfix visible-xs-block">&nbsp</div>
            <div class="col-md-6 col-xs-12">
                <a href="#"><img src="/static/image/k_2.jpg" class="im10"></a>
            </div>
            <div class="clearfix visible-xs-block">&nbsp</div>
            <div class="col-md-3 col-xs-12">
                <a href="#"><img src="/static/image/k_3.jpg" class="im10"></a>
                <div>&nbsp</div>
                <a href="#"><img src="/static/image/k_4.jpg" class="im10"></a>
            </div>
        </div>
        <div class="row imt">
            <div class="col-md-3 col-sm-6 col-xs-6 ad">
                <a href="#"><h3 style="font-family:幼圆">生活娱乐</h3></a>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12 ad">
                <h4 style="font-family: 幼圆"># 一样的生活，不一样的欢乐 #</h4>
            </div>
        </div>
        <div class="row mrow1">
            <div class="col-md-6 col-sm-12 section1">
                <a href="#"><img src="/static/image/s_7.jpg" class="im6"></a>
                <div class="yc">
                    <a href="#"><div class="rrsp"><div class="rrsp1"></div></div></a>
                    <div class="ttext1">
                        <h3 style="font-family: 微软雅黑">视频的标题</h3>
                        <p style="font-family: 微软雅黑">文字说明呀文字说明呀文字说明</p>
                    </div>
                    <a href="#"><button type="button" class="btn-success btn-sm text">立即播放</button></a>
                </div>

                <div class="ttext2">
                    <h4 style="font-family:微软雅黑">视频的标题</h4>
                </div>
            </div>
            <div class="clearfix visible-xs-block visible-sm-block">&nbsp</div>
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 section2">
                        <a href="#"><img src="/static/image/s_1.jpg" class="im1"></a>
                        <div class="yc">
                            <a href="#"><div  class="rsp"><div class="rsp1"></div></div></a>
                            <div class="ttext">
                                <h4 style="font-family: 微软雅黑">视频标题</h4>
                                <p style="font-family: 微软雅黑">文字说明文字说明</p>
                            </div>
                            <a href="#"><button type="button" class="btn-success btn-xs text">立即播放</button></a>
                        </div>
                        <div class="ttext3">
                            <h4 style="font-family:微软雅黑">视频的标题</h4>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 section3">
                        <a href="#"><img src="/static/image/s_3.jpg" class="im1"></a>
                        <div class="yc">
                            <a href="#"><div  class="rsp"><div class="rsp1"></div></div></a>
                            <div class="ttext">
                                <h4 style="font-family: 微软雅黑">视频标题</h4>
                                <p style="font-family: 微软雅黑">文字说明文字说明</p>
                            </div>
                            <a href="#"><button type="button" class="btn-success btn-xs text">立即播放</button></a>
                        </div>
                        <div class="ttext3">
                            <h4 style="font-family:微软雅黑">视频的标题</h4>
                        </div>
                    </div>
                </div>
                <div>&nbsp</div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 section4">
                        <a href="#"><img src="/static/image/s_5.jpg" class="im1"></a>
                        <div class="yc">
                            <a href="#"><div  class="rsp"><div class="rsp1"></div></div></a>
                            <div class="ttext">
                                <h4 style="font-family: 微软雅黑">视频标题</h4>
                                <p style="font-family: 微软雅黑">文字说明文字说明</p>
                            </div>
                            <a href="#"><button type="button" class="btn-success btn-xs text">立即播放</button></a>
                        </div>
                        <div class="ttext3">
                            <h4 style="font-family:微软雅黑">视频的标题</h4>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 section5">
                        <a href="#"><img src="/static/image/s_9.png" class="im1"></a>
                        <div class="yc">
                            <a href="#"><div  class="rsp"><div class="rsp1"></div></div></a>
                            <div class="ttext">
                                <h4 style="font-family: 微软雅黑">视频标题</h4>
                                <p style="font-family: 微软雅黑">文字说明文字说明</p>
                            </div>
                            <a href="#"><button type="button" class="btn-success btn-xs text">立即播放</button></a>
                        </div>
                        <div class="ttext3">
                            <h4 style="font-family:微软雅黑">视频的标题</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>&nbsp</div>
        <div class="row mrow mrow1">
            <div class="col-md-3 col-xs-6 section6">
                <img src="/static/image/s_6.jpg" class="im8">
                <div class="yc">
                    <a href="#"><div  class="rsp"><div class="rsp1"></div></div></a>
                    <div class="ttext">
                        <h4 style="font-family: 微软雅黑">视频标题</h4>
                        <p style="font-family: 微软雅黑">文字说明文字说明</p>
                    </div>
                    <a href="#"><button type="button" class="btn-success btn-xs text">立即播放</button></a>
                </div>
                <div class="ttext3">
                    <h4 style="font-family:微软雅黑">视频的标题</h4>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 section7">
                <img src="image/s_4.jpg" class="im8">
                <div class="yc">
                    <a href="#"><div  class="rsp"><div class="rsp1"></div></div></a>
                    <div class="ttext">
                        <h4 style="font-family: 微软雅黑">视频标题</h4>
                        <p style="font-family: 微软雅黑">文字说明文字说明</p>
                    </div>
                    <a href="#"><button type="button" class="btn-success btn-xs text">立即播放</button></a>
                </div>
                <div class="ttext3">
                    <h4 style="font-family:微软雅黑">视频的标题</h4>
                </div>
            </div>
            <div class="clearfix visible-xs-block visible-sm-block">&nbsp</div>

            <div class="col-md-3 col-xs-6 section8">
                <img src="/static/image/s_8.jpg" class="im8">
                <div class="yc">
                    <a href="#"><div  class="rsp"><div class="rsp1"></div></div></a>
                    <div class="ttext">
                        <h4 style="font-family: 微软雅黑">视频标题</h4>
                        <p style="font-family: 微软雅黑">文字说明文字说明</p>
                    </div>
                    <a href="#"><button type="button" class="btn-success btn-xs text">立即播放</button></a>
                </div>
                <div class="ttext3">
                    <h4 style="font-family:微软雅黑">视频的标题</h4>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 section9">
                <img src="/static/image/s_2.jpg" class="im8">
                <div class="yc">
                    <a href="#"><div  class="rsp"><div class="rsp1"></div></div></a>
                    <div class="ttext">
                        <h4 style="font-family: 微软雅黑">视频标题</h4>
                        <p style="font-family: 微软雅黑">文字说明文字说明</p>
                    </div>
                    <a href="#"><button type="button" class="btn-success btn-xs text">立即播放</button></a>
                </div>
                <div class="ttext3">
                    <h4 style="font-family:微软雅黑">视频的标题</h4>
                </div>
            </div>
        </div>

        <div class="row imt">
            <div class="col-md-3 col-sm-6 col-xs-6 ad">
                <a href="#"><h3 style="font-family:幼圆">动漫</h3></a>
            </div>
            <div class="col-md-9 col-sm-6 col-xs-6 ad">
                <h4 style="font-family: 幼圆"># 放弃治疗中二病 #</h4>
            </div>
        </div>
        <div class="row mrow" style="font-family: 微软雅黑">
            <div class="col-md-6 col-sm-12 htitle">
                <a href="#"><img src="/static/image/d_3.jpg" class="im6"></a>
                <a href="#" class="txt">
                    <h3 class="txt1 bt" style="font-family: 幼圆">&ltFate/zero&gt</h3>
                </a>
            </div>
            <div class="clearfix visible-xs-block">&nbsp</div>
            <div class="col-md-6 col-sm-12">
                <div class="row htitle" style="font-family: 微软雅黑">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a href="#"><img src="/static/image/d_4.jpeg" class="im2" title="<时尚>春季新推荐"></a>
                        <a href="#" class="txt"><h5 class="txt1 bt1">&lt我们未曾知道到那些花的名字&gt</h5></a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a href="#"><img src="/static/image/d_2.jpg" class="im2" title="<时尚>春季新推荐"></a>
                        <a href="#" class="txt"><h5 class="txt1 bt1">&lt火影忍者&gt</h5></a>
                    </div>
                </div>
                <div>&nbsp</div>
                <div class="row htitle">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a href="#"><img src="/static/image/d_5.jpg" class="im2" title="<时尚>春季新推荐"></a>
                        <a href="#" class="txt"><h5 class="txt1 bt1">&lt再见萤火虫&gt</h5></a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a href="#"><img src="/static/image/d_1.jpeg" class="im2" title="<时尚>春季新推荐"></a>
                        <a href="#" class="txt"><h5 class="txt1 bt1">&lt神幻拍档&gt</h5></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row imt">
            <div class="col-md-3 col-sm-6 col-xs-6 ad">
                <a href="music.html"><h3 style="font-family:幼圆">音乐</h3></a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 ad">
                <h4 style="font-family: 幼圆"># 聆听世话 #</h4>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12  ad1" >
                <ul class="title-list nav nav-tabs   ttab1">
                    <li><a href="#" class="on">中国风</a></li>
                    <li><a href="#">日韩流</a></li>
                    <li><a href="#">轻音乐</a></li>
                    <li><a href="#">二次元</a></li>
                    <li><a href="#">流行乐</a></li>
                </ul>
            </div>
        </div>
        <div class="product-wrap mrow mrow1">
            <div class="row product shows" style="font-family: 微软雅黑">
                <div class="col-md-3 col-xs-6 td">
                    <a href="#"><img src="image/m_5.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt2">古音今曲</h5></a>
                </div>
                <div class="col-md-3 col-xs-6 td">
                    <a href="#"><img src="/static/image/m_6.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt2">芊芊"戏"语</h5></a>
                </div>
                <div class="clearfix visible-xs-block">&nbsp</div>
                <div class="col-md-3 col-xs-6 td">
                    <a href="#"><img src="/static/image/m_7.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt2">长安忆</h5></a>
                </div>
                <div class="col-md-3 col-xs-6 td">
                    <a href="#"><img src="/static/image/m_8.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt2">提灯照山河</h5></a>
                </div>
            </div>
            <div class="row product" style="font-family: 微软雅黑">
                <div class="col-md-3 col-xs-6 td">
                    <a href="#"><img src="/static/image/m_1.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt2">上课了，少女们</h5></a>
                </div>
                <div class="col-md-3 col-xs-6 td">
                    <a href="#"><img src="/static/image/m_2.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt2">&lt插曲&gt清新男女对唱</h5></a>
                </div>
                <div class="clearfix visible-xs-block visible-sm-block">&nbsp</div>
                <div class="col-md-3 col-xs-6 td">
                    <a href="#"><img src="/static/image/m_3.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt2">深夜居酒屋</h5></a>
                </div>
                <div class="col-md-3 col-xs-6 td">
                    <a href="#"><img src="image/m_4.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt2">校园の恋爱</h5></a>
                </div>
            </div>
            <div class="row  product " style="font-family: 微软雅黑">
                <div class="col-md-3 col-xs-6 td">
                    <a href="#"><img src="image/m_9.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt2">打开暖气和音乐</h5></a>
                </div>
                <div class="col-md-3 col-xs-6 td">
                    <a href="#"><img src="image/m_10.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt2">小提琴之美</h5></a>
                </div>
                <div class="clearfix visible-xs-block visible-sm-block">&nbsp</div>
                <div class="col-md-3 col-xs-6 td">
                    <a href="#"><img src="image/m_11.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt2">每天一本书</h5></a>
                </div>
                <div class="col-md-3 col-xs-6 td">
                    <a href="#"><img src="image/m_12.jpeg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt2">搭配工作的音乐</h5></a>
                </div>
            </div>
            <div class="row product " style="font-family: 微软雅黑">
                <div class="col-md-3 col-xs-6 td">
                    <a href="#"><img src="image/m_17.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt2">一首关于樱花的歌</h5></a>
                </div>
                <div class="col-md-3 col-xs-6 td">
                    <a href="#"><img src="image/m_18.png" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt2">中二病之歌</h5></a>
                </div>
                <div class="clearfix visible-xs-block visible-sm-block">&nbsp</div>
                <div class="col-md-3 col-xs-6 td">
                    <a href="#"><img src="image/m_19.jpeg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt2">二次元的清新之作</h5></a>
                </div>
                <div class="col-md-3 col-xs-6 td">
                    <a href="#"><img src="image/m_20.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt2">&ltbgm&gt点燃你的激情</h5></a>
                </div>
            </div>

            <div class="row product " style="font-family: 微软雅黑">
                <div class="col-md-3 col-xs-6 td">
                    <a href="#"><img src="image/m_13.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt2">国语流行才是最厉害的</h5></a>
                </div>
                <div class="col-md-3 col-xs-6 td">
                    <a href="#"><img src="image/m_14.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt2">欧美流行乐</h5></a>
                </div>
                <div class="clearfix visible-xs-block visible-sm-block">&nbsp</div>
                <div class="col-md-3 col-xs-6 td">
                    <a href="#"><img src="image/m_15.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt2">那些年我们一起追过的歌</h5></a>
                </div>
                <div class="col-md-3 col-xs-6 td">
                    <a href="#"><img src="image/m_16.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt2">韩国流行乐</h5></a>
                </div>
            </div>
        </div>
        <div class="row imt">
            <div class="col-md-3 col-sm-6 col-xs-6 ad">
                <a href="#"><h3 style="font-family:幼圆">电影</h3></a>
            </div>
            <div class="col-md-9 col-sm-6 col-xs-6 ad">
                <h4 style="font-family: 幼圆"># 帧帧精美，丝丝入画 #</h4>
            </div>
        </div>
        <div class="row mrow mrow1" style="font-family: 微软雅黑">
            <div class="col-md-2 col-sm-2 col-xs-6 sp1">
                <a href="#"><img title="眼镜蛇特种部队" src="image/y_1.jpg" class="im11"></a>
                <div class="sp">
                    <img class="is" src="image/span1.png">
                    <p class="is1">欧美</p>
                    <h5>眼镜蛇部队</h5>
                    <p>一支最强的特种部队</p>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 sp1">
                <a href="#"><img title="后天" src="image/y_5.jpg" class="im11"></a>
                <div class="sp">
                    <img class="is" src="image/span1.png">
                    <p class="is1">欧美</p>
                    <h5>后天</h5>
                    <p>大自然对人类的报复</p>
                </div>
            </div>
            <div class="clearfix visible-xs-block">&nbsp</div>
            <div class="col-md-2 col-sm-2 col-xs-6 sp1">
                <a href="#"><img title="加勒比海盗" src="image/y_3.jpeg" class="im11"></a>
                <div class="sp">
                    <img class="is" src="image/span1.png">
                    <p class="is1">欧美</p>
                    <h5>加勒比海盗</h5>
                    <p>帅气船长扬帆起航</p>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 sp1">
                <a href="#"><img title="穿普拉达的女魔头" src="image/y_4.jpg" class="im11"></a>
                <div class="sp">
                    <img class="is" src="image/span1.png">
                    <p class="is1">欧美</p>
                    <h5>穿布拉达的女魔头</h5>
                    <p>没一件衣服都想要</p>
                </div>
            </div>
            <div class="clearfix visible-xs-block visible-sm-block">&nbsp</div>
            <div class="col-md-2 col-sm-2 col-xs-6 sp1">
                <a href="#"><img title="魔鬼诗社" src="image/y_2.jpg" class="im11"></a>
                <div class="sp">
                    <img class="is" src="image/span1.png">
                    <p class="is1">欧美</p>
                    <h5>魔鬼诗社</h5>
                    <p>今后的生命喜悦如诗</p>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 sp1">
                <a href="#"><img title="起风了" src="image/y_6.jpg" class="im11"></a>
                <div class="sp">
                    <img class="is" src="image/span1.png">
                    <p class="is1">日本</p>
                    <h5>起风了</h5>
                    <p>昔风不起，唯有努力生存</p>
                </div>
            </div>
        </div>
        <div class="row imt ">
            <div class="col-md-3 col-sm-6 col-xs-6 ad">
                <a href="#"><h3 style="font-family:幼圆">电视剧</h3></a>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 ad">
                <h4 style="font-family: 幼圆"># 都是套路 #</h4>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12  ad1">
                <ul class="title-list nav nav-tabs ttab">
                    <li><a href="#" class="on">内地</a></li>
                    <li><a href="#">日韩</a></li>
                    <li><a href="#">美剧</a></li>
                    <li><a href="#">英剧</a></li>
                    <li><a href="#">港台</a></li>
                </ul>
            </div>
        </div>
        <div class="product-wrap mrow1">
            <div class="row product shows" style="font-family: 微软雅黑">
                <div class="col-md-3 col-xs-6 htitle">
                    <a href="#" class="imgwrap"><img src="image/v_1.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt1 bt1">&lt亮剑&gt</h5></a>
                </div>
                <div class="col-md-3 col-xs-6 htitle">
                    <a href="#" class="imgwrap"><img src="image/v_2.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt1 bt1">&lt杉杉来了&gt</h5></a>
                </div>
                <div class="clearfix visible-xs-block visible-sm-block">&nbsp</div>
                <div class="col-md-3 col-xs-6 htitle">
                    <a href="#" class="imgwrap"><img src="image/v_3.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt1 bt1">&lt仙剑奇侠传&gt</h5></a>
                </div>
                <div class="col-md-3 col-xs-6 htitle">
                    <a href="#" class="imgwrap"><img src="image/v_4.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt1 bt1">&lt北京青年&gt</h5></a>
                </div>
            </div>
            <div class="row product" style="font-family: 微软雅黑">
                <div class="col-md-3 col-xs-6 htitle">
                    <a href="#" class="imgwrap"><img src="image/v_5.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt1 bt1">&lt龙樱&gt</h5></a>
                </div>
                <div class="col-md-3 col-xs-6 htitle">
                    <a href="#" class="imgwrap"><img src="image/v_6.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt1 bt1">&lt求婚大作战&gt</h5></a>
                </div>
                <div class="clearfix visible-xs-block visible-sm-block">&nbsp</div>
                <div class="col-md-3 col-xs-6 htitle">
                    <a href="#" class="imgwrap"><img src="image/v_7.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt1 bt1">&lt无间双龙&gt</h5></a>
                </div>
                <div class="col-md-3 col-xs-6 htitle">
                    <a href="#" class="imgwrap"><img src="image/v_8.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt1 bt1">&lt花样男子&gt</h5></a>
                </div>
            </div>
            <div class="row  product " style="font-family: 微软雅黑">
                <div class="col-md-3 col-xs-6 htitle">
                    <a href="#" class="imgwrap"><img src="image/v_9.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt1 bt1">&lt逍遥法外&gt</h5></a>
                </div>
                <div class="col-md-3 col-xs-6 htitle">
                    <a href="#" class="imgwrap"><img src="image/v_10.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt1 bt1">&lt汉娜.蒙塔纳&gt</h5></a>
                </div>
                <div class="clearfix visible-xs-block visible-sm-block">&nbsp</div>
                <div class="col-md-3 col-xs-6 htitle">
                    <a href="#" class="imgwrap"><img src="image/v_11.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt1 bt1">&lt生活大爆炸&gt</h5></a>
                </div>
                <div class="col-md-3 col-xs-6 htitle">
                    <a href="#" class="imgwrap"><img src="image/v_12.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt1 bt1">&lt吸血鬼日记&gt</h5></a>
                </div>
            </div>
            <div class="row product " style="font-family: 微软雅黑">
                <div class="col-md-3 col-xs-6 htitle">
                    <a href="#" class="imgwrap"><img src="image/v_13.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt1 bt1">&lt唐顿庄园&gt</h5></a>
                </div>
                <div class="col-md-3 col-xs-6 htitle">
                    <a href="#" class="imgwrap"><img src="image/v_14.jpeg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt1 bt1">&lt神探夏洛克&gt</h5></a>
                </div>
                <div class="clearfix visible-xs-block visible-sm-block">&nbsp</div>
                <div class="col-md-3 col-xs-6 htitle">
                    <a href="#" class="imgwrap"><img src="image/v_15.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt1 bt1">&lt小镇疑云&gt</h5></a>
                </div>
                <div class="col-md-3 col-xs-6 htitle">
                    <a href="#" class="imgwrap"><img src="image/v_16.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt1 bt1">&lt英伦魔法师&gt</h5></a>
                </div>
            </div>
            <div class="row product " style="font-family: 微软雅黑">
                <div class="col-md-3 col-xs-6 htitle">
                    <a href="#" class="imgwrap"><img src="image/v_17.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt1 bt1">&lt法证先锋&gt</h5></a>
                </div>
                <div class="col-md-3 col-xs-6 htitle">
                    <a href="#" class="imgwrap"><img src="image/v_18.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt1 bt1">&lt使徒行者&gt</h5></a>
                </div>
                <div class="clearfix visible-xs-block visible-sm-block">&nbsp</div>
                <div class="col-md-3 col-xs-6 htitle">
                    <a href="#" class="imgwrap"><img src="image/v_19.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt1 bt1">&lt潜行狙击&gt</h5></a>
                </div>
                <div class="col-md-3 col-xs-6 htitle">
                    <a href="#" class="imgwrap"><img src="image/v_20.jpg" class="im10"></a>
                    <a href="#" class="txt"><h5 class="txt1 bt1">&lt公主嫁到&gt</h5></a>
                </div>
            </div>
        </div>


        </div>
    </div>
</div>



<footer class="container-fluid panel-footer ffoot">
    <div class="container">
        <div class="col-md-4 col-xs-12 ll">
            <h4 class="ftitle">isee</h4>
            <div class="content fcontent">
                <ul class="flinks">
                    <li><a href="#" style="font-family: 幼圆;">关于我们</a></li>
                    <li><a href="#" style="font-family: 幼圆;">联系我们</a></li>
                    <li><a  href="#" style="font-family: 幼圆;">视频、图片来源</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 ll">
            <h4 class="ftitle" style="font-family: 幼圆;">友情链接</h4>
            <div class="content fcontent">
                <div class="ya">
                    <a class="ca" href="#" style="font-family: 幼圆;">bootstrap中文网</a>
                    <a class="ca1" href="#" style="font-family: 幼圆;">百度</a>
                    <a class="ca3" href="#" style="font-family: 幼圆;">GDMU摄影协会官方微博</a>
                </div>
                <div class="row imtitle">
                    <a href="#"><img class="imm" src="image/44.png"></a>
                    <a href="#" class="ca2"><img class="imm" src="image/33.png"></a>
                    <a href="#" class="ca2"><img class="imm" src="image/66.png"></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 ll">
            <h4 class="ftitle" style="font-family: 幼圆;">帮助</h4>
            <div class="content fcontent">
                <ul class="flinks">
                    <li><a href="#" style="font-family: 幼圆;">帮助中心</a></li>
                    <li><a href="#" style="font-family: 幼圆;">我们的技术</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="panel-footer ff">
    Copyright&copy;LWLXL
</div>



</body>
</html>
