{% extends "base.html" %}

{% block title %}爱视_{{ video.title }}{% endblock %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/play.css">
{% endblock %}


{% block page_content %}

<div class="container-fluid pb">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 vt">
                <h3 style="font-family: 微软雅黑">{{ video.title }}</h3>
            </div>
        </div>
        <div class="row vd">
            <div class="col-md-9 col-sm-12 col-xs-12 vde">
                <video controls="controls" >
                    <source  src="{{ video.video_url_mp4 }}"/>
                </video>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 gr">
                    <div class="col-md-12 grs">
                        <h3 class="col-md-8" style="font-family: 微软雅黑">{{ video.author_name() }}</h3>
                        <button type="button" class="col-md-3 btn btn-sm btn-success vbtn">关注</button>
                    </div>
                        <div class="panel col-md-12 grxx">
                            <div class="panel-heading grx">
                                <h3 style="font-family: 微软雅黑" class="col-md-3  col-sm-12">周边</h3>
                            </div>
                            <div class="panel-body grxb">
                                <ul class="fj" style="font-family: 微软雅黑">
                                    <li class="lif"><a href="#">随便给个视频名字&nbsp;</a></li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>

                                </ul>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    <div class="container cr">
        <div class="row "  id="fadeshow1">
            <div class="col-md-2 col-sm-12 favour">
                <img src="/static/image/favour.png" class="col-md-6 imf">
                <h4>{{ video.favor_num }}</h4>
            </div>
            <div class="col-md-2 col-sm-12 loving">
                <img src="/static/image/loving.png" class="col-md-6 imf">
                <h4>{{ video.play_times }}</h4>
            </div>
            <div class="col-md-4 col-sm-12 share">
                <h4 class="col-md-3" style="font-family: 微软雅黑">分享</h4>
                <ul class="col-md-9">
                    <li><a href="#"><img class="ims" src="/static/image/33.png"></a></li>
                    <li><a href="#"><img class="ims" src="/static/image/66.png"></a></li>
                    <li><a href="#"><img class="ims" src="/static/image/44.png"></a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-12 discuss">
                <img src="/static/image/discuss1.png" class="col-md-6 imf1">
                <h4>0</h4>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row cb">
        <div class="panel-heading pbx">
            <h3 style="font-family: 微软雅黑">大家都在看</h3>
        </div>
        <div class="panel-body pbx">
            <div class="row pbxs">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <a href="#"><img src="image/m_1.jpg" class="imj"></a>
                </div>
                {% for time in range(0, 4) %}
                    <div class="col-md-3 col-sm-6 col-xs-6">
                         <a href="{{ others[time].play_page_url() }}"><img src="{{ others[time].image_url }}" class="imj"></a>
                    </div>
                {% endblock %}
            </div>
            <div class="row pbxs1">
                <div class="col-md-12">
                    <img src="image/hupi.png"class="imj">
                </div>
            </div>
        </div>
    </div>
    <div class="row cb">
        <div class="panel-heading pbx1">
            <h3 style="font-family: 微软雅黑">&clubs;&nbsp;评论&nbsp;&clubs;</h3>
        </div>
        <div class="panel-body pbx1">
            <div class="row imlo">
                <div class="col-md-2">
                    <a href="login.html"><img src="image/unlogin.png" imj1></a>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control ip" placeholder="在这里说两句吧...">
                    <hr>
                    <button type="button" class="btn btn-default disabled">登录提交评论</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3 dica">
                    <a href="#"><h3 style="font-family: 微软雅黑" class="hhh">所有评论
                        <span class="badge bd">0</span></h3></a>
                </div>
            </div>
            <div class="row pz1">
                <ul>
                    <li class="row">
                        <div class="col-md-1 col-sm-1 col-xs-1">
                            <img src="image/ll.png" style="width:100%">
                        </div>
                        <div class="col-md-11 col-sm-11 col-xs-11 pz">
                            <a href="#"><p style="font-family: 微软雅黑">评论者名字</p></a>
                            <p style="font-family:微软雅黑">评论内容</p>
                        </div>
                    </li>
                    <hr>
                    <li class="row">
                        <div class="col-md-1 col-sm-1 col-xs-1">
                            <img src="image/ll.png" style="width:100%">
                        </div>
                        <div class="col-md-11 col-sm-11 col-xs-11 pz">
                            <a href="#"><p style="font-family: 微软雅黑">评论者名字</p></a>
                            <p style="font-family:微软雅黑">评论内容</p>
                        </div>
                    </li>
                    <hr>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}